name: Coveralls

on:
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  schedule:
    - cron: "16 1 * * 6"

jobs:
  coveralls:
    name: Coveralls Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          go_version_file: "go.mod"

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Run Test
        run: go test -race -covermode atomic -coverprofile=covprofile ./...

      - name: Upload results to Coveralls
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: covprofile
